Repository eth-classic/go-ethereum, pull requests merged in 2019-07, with the labels that each got.

#82 State trie clearing fix
  cmd/evm/main.go
  core/blockchain.go
  core/chain_manager.go
  miner/worker.go
Labels: PR: 1 Needs Review, Priority: 0 Consensus, Type: Core

#83 State trie clreaing fix
  cmd/evm/main.go
  core/blockchain.go
  core/chain_manager.go
  miner/worker.go
Labels: PR: 5 Looks Good, Priority: 0 Consensus, Type: Core

#86 modify dockerfile to switch to debian for whiteblock build
  Dockerfile
Labels: PR: 5 Looks Good, Type: Build, Type: Configuration
